
<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PoolMJ</title>
<head>

<h1 align="center">........SUSPENDO...........</h1>
<p align="center">___________________________________</p>

<h2 align="center">...........ING ELECTRONICA Y TELECOMUNICACIONES.........</>

<h2> Nombre: Paul Maldonado</h2>
<h2> Fecha: 22/09/2020</h2>


<h2><b>Estado:</h> <h id="estado"</b></h2>



<!--h2> sensor azul</-->

<!--button id = "led1AP"type="button" onclick="pender sensor_A()">Encender</button-->
<!--button id = "led1AA"type="button" onclick="apagar sensor_A()">Apagar</button-->
<!--br /-->







</body>
</html>
