<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>HarasMinutosSegundos</title>
</head>
<body>

<!--<center><img src="/static/images/python2.png" alt="user" tyle="width:142px;height:104px;"></center-->


<center><h1>UNIVERSIDAD NACIONAL DE CHIMBORAZO</h1></center>
<center><h1>Facultad de Ingenieria</h1></center>
<center><h1>Carrera de Ing. Electronica y Telecomunicaciones</h1></center>
<center><h2>Examen de Embebidos</h2></center>

<center><h2>Captura en Tiempo en tiempo real</h2></center>




<script type=”text/javascript”>

var d = new Date();

document.write(‘Fecha: ‘+d.getDate(),'<br>Dia de la semana: ‘+d.getDay(),'<br>Mes (0 al 11): ‘+d.getMonth(),'<br>Año:’+d.getFullYear(),'<br>Hora:’+d.getHours(),'<br>HoraUTC: ‘+d.getUTCHours(),'<br>Minutos: ‘+d.getMinutes(),'<br>Segundos: ‘+d.getSeconds());

</script>





<!--<h2>Sensor:</h><h id="sensor">--</h2>
<button id = 'LED1On'type="button" onclick="LED1_On();">
LED1 ON!</button>
<button id = 'LED1Off' type="button" onclick="LED1_Off();">
LED1_OFF!</button-->

<<center><img src="/static/images/python2.png" alt="user" tyle="width:142px;height:104px;"></center>

</body>
</html>
