
<!DOCTYPE html>
<html>
<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.js" type="text/javascript"></script>
<script src="/static/js/index.js"></script>
<title>PoolMJ</title>
<head>

<h1 align="center">........TODO UNIDO........    :o</h1>
<p align="center">___________________________________</p>

<h2 align="center">..........Ingrese los numeros para las operaciones..........</>



<h2> Numero_1 : </>
<form name="num1">
<input type="text" id="n1"/>
</form>



<h2> Numero_2 : </>
<form name="num2">
<input type="text" id="n2"/>
</form>




<h2><b>Respuesta:</h> <h id="respuesta"</b></h2>



<h2> SUMA</>
<button id = "Sum"type="button" onclick="SUMA()">Suma</button>

<h2> RESTA</>
<button id = "Res"type="button" onclick="RESTA()">Resta</button>

<h2> MULTIPLICACION</>
<button id = "Mult"type="button" onclick="MULTIPLICACION()">Multiplicacion</button>

<h2> DIVISION</>
<button id = "Divi"type="button" onclick="DIVISION()">Division</button>
<br />



<h2><b>Hora:</h> <h id="hora"</b></h2>




</body>
</html>
